<div class="container">
  <h1>Crear Corte de Pelo</h1>
  <form (ngSubmit)="registrarCorte()" #corteForm="ngForm">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="corte.nombre" required>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="corte.descripcion" required></textarea>
    </div>
    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="corte.precio" required>
    </div>
    <div class="mb-3">
      <label for="id_tipo_corte" class="form-label">Tipo de Corte</label>
      <select class="form-control" id="id_tipo_corte" name="id_tipo_corte" [(ngModel)]="corte.id_tipocorte" required>
        <option value="">Seleccione un tipo de corte</option>
        <option *ngFor="let tipoCorte of tiposCorte" [value]="tipoCorte.id_tipo_corte">{{ tipoCorte.nombre }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
