<main>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 mt-4">
        <select class="form-select" [(ngModel)]="tipoCorteSeleccionado" (change)="filtrarCortesPorTipo()">
          <option selected value="">Todos los cortes</option>
          <option *ngFor="let option of tiposCorte" [ngValue]="option">{{ option.nombre }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-6 mt-4">
        <button type="button" class="btn btn-primary" routerLink="/crearTipoCorte">Crear Tipo Corte</button>
      </div>
      <div class="col-6 col-md-6 col-lg-6 mt-4">
        <button type="button" class="btn btn-primary" routerLink="/crearCorte">Crear Corte</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mt-4" *ngFor="let corte of cortesFiltrados">
        <div class="card-container">
          <div class="card">
            <div class="img-content">
              <img [src]="'../../../assets/img/' + corte.nombre.toLowerCase() + '.jpg'" alt="" style="width: 100%;">
            </div>
            <div class="content">
              <p class="heading">{{ corte.nombre }}</p>
              <p class="text-black">{{ corte.descripcion }}</p>
              <p class="text-black">{{ corte.precio }}€</p>
              <p class="text-black">{{ corte.id_tipocorte | tipoCortesPelo }}</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-6 col-lg-6 text-center mt-4">
              <button type="button" class="btn btn-primary" routerLink="/metodoPago">Reservar</button>
            </div>
            <div class="col-6 col-md-6 col-lg-6 text-center mt-4">
              <button type="button" class="btn btn-danger" (click)="borrarCorte(corte)">Borrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</main>