<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 mt-4">
            <h3 class="text-center">Inicio de sesión</h3>
            <form action="" method="post" enctype="multipart/form-data" id="loginForm">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="jorge@gmail.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="1q2w3e..">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <p class="nologin mt-3">¿Todavía no te has creado una cuenta? <a routerLink="/registro" class="alert-link">Regístrate ya.</a></p>
                <button type="submit" id="login" name="inicioSesion" class="btn btn-danger">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>



