<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">¿Quiénes somos?</h1>
        <p class="col-md-12 fs-4 text-center">Somos una peluquería de barbería con una rica historia y experiencia en la
          industria del cuidado del cabello masculino. Nuestro equipo está compuesto por barberos y estilistas altamente
          capacitados y apasionados por su oficio. Nos enorgullece brindar un servicio de calidad y una experiencia de
          corte de cabello excepcional a nuestros clientes.</p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2 class="text-center">Nuestra finalidad...</h2>
          <p>Ofrecer servicios de calidad que satisfagan las necesidades y los deseos de nuestros
            clientes. Nos esforzamos por ayudar a los hombres a lucir su mejor versión, brindándoles cortes de cabello y
            estilos modernos y clásicos que resalten su estilo y personalidad únicos. Además, buscamos crear un ambiente
            acogedor y relajante en nuestra barbería, donde los clientes puedan disfrutar de un momento de cuidado
            personal y desconexión.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2 class="text-center">La historia</h2>
          <p>nuestro fundador, un barbero con una pasión por su oficio, notó una creciente demanda de servicios de
            barbería de alta calidad en la comunidad. Observó que muchos hombres buscaban una experiencia de corte de
            cabello más especializada y personalizada, y vio una oportunidad para crear un espacio donde se pudiera
            ofrecer exactamente eso. Con esa visión en mente, fundó nuestra peluquería de barbería con el objetivo de
            brindar servicios excepcionales y convertirse en un referente en el cuidado del cabello masculino..</p>
        </div>
      </div>
    </div>
  </div>
</main>